<a href="https://colab.research.google.com/github/joeldeepu123/ADDON-Assignment/blob/main/Joel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Write a Python function to accept a string value from the user and display the count of each character in that string. Sample input: Enter a string value: assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1

In [ ]:
import collections

def count_chars():
    user_input = input("Enter a string value: ")
    char_counts = collections.Counter(user_input)
    for char, count in char_counts.items():
        print(f"{char}={count}")
count_chars()

Enter a string value: 44
4=2

In [ ]:
#Write a Python function to find the maximum of three numbers Sample input: 34,12,7 Sample output: 34

In [ ]:
def find_max(num1, num2, num3):

  if num1 > num2:
    if num1 > num3:
      return num1
    else:
      return num3
  else:
    if num2 > num3:
      return num2
    else:
      return num3

num1 = 34
num2 = 12
num3 = 7

max_num = find_max(num1, num2, num3)

print(f"The maximum of {num1}, {num2}, and {num3} is: {max_num}")

The maximum of 34, 12, and 7 is: 34

In [ ]:
#Write a Python function called exponent(base,exp) that returns an integer value of base raises to the power of exp. Sample input: Enter the base: 2 Enter the exponent: 3 Sample output: 8

In [ ]:
def exponent(base, exp):
  result = 1
  for i in range(exp):
    result *= base
  return result

base = int(input("Enter the base: "))
exp = int(input("Enter the exponent:"))
print(exponent(base, exp))

Enter the base: 2
Enter the exponent:3
8

In [ ]:
#Write a Python function that takes a positive integer and returns the sum ofthe cube of all the positive integers smaller than the specified number. Sample input: 4 Sample output: 36

In [ ]:
def sum_cubes_below(n):

  sum_of_cubes = 0
  for i in range(1, n):
    sum_of_cubes += i**3
  return sum_of_cubes
sample_input = 4
sum_of_cubes = sum_cubes_below(sample_input)
print(f"Sum of cubes of positive integers smaller than {sample_input}: {sum_of_cubes}")

Sum of cubes of positive integers smaller than 4: 36

In [ ]:
#Write a Python program which iterates from 1 to 10. For multiples of 2, print "Fizz" instead of the number and for the multiples of 5, print "Buzz". For numbers which are multiples of both 2 and 5, print "FizzBuzz".Sample input:numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9 FizzBuzz

In [ ]:
for i in range(1, 11):
  if i % 2 == 0 and i % 5 == 0:
    print("FizzBuzz")
  elif i % 2== 0:
    print("Fizz")
  elif i % 5 == 0:
    print("Buzz")
  else:
    print(i)

1
Fizz
3
Fizz
Buzz
Fizz
7
Fizz
9
FizzBuzz

In [ ]:
#Write a Python function to find the most frequent item in a list of numbers. Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2

In [ ]:
def most_frequent(list1):
    dict1 = {}
    for item in list1:
        if item in dict1:
            dict1[item] += 1
        else:
            dict1[item] = 1
    max_value = max(dict1.values())
    max_key = max(dict1, key=dict1.get)

    return max_key

list1 = [5,3,8,4,5]
result = most_frequent(list1)
print("The most frequent item is:", result)

The most frequent item is: 5

In [ ]:
#Write a python function to find the sum of squares of the numbers in a list. Sample input: 2,1,3,1 Sample output:15.

In [ ]:
def sum_of_squares(numbers):
    total = 0
    for x in numbers:
        total += x**2
    return total
print(sum_of_squares([2, 1, 3, 1]))

15

In [ ]:
#Write a python program using for loop that will iterate from 1 to 15. For each iteration,check if the current number is odd or even,and display the message to the screen as odd or even. Sample input: 1....15 Sample output: 1-odd 2-even....15-odd.

In [ ]:
for i in range(1, 16):
    if i % 2 == 0:
        print(f"{i}-even")
    else:
        print(f"{i}-odd")

1-odd
2-even
3-odd
4-even
5-odd
6-even
7-odd
8-even
9-odd
10-even
11-odd
12-even
13-odd
14-even
15-odd

In [ ]:
#Write a python function to convert temperatures to and from Celsius Fahrenheit.[Formula:c/5=f-32/9 where c=temparature in celsius and f=temperature in fahrenheit.]Sample input:Temparature in fahrenheit=41.Sample output:Temparature in Celsius=5

In [ ]:
f=float(input("Enter the first number"))
c = (f*32/59)
print("the temperature in celsius:",c)

Enter the first number67
the temperature in celsius: 36.33898305084746

In [ ]:
#Write a Python function to calculate the factorial of a number (a nonnegative integer). The function accepts the number as an argument. Sample input: 3 Sample output: 6

In [ ]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)
n = 8
result = factorial(n)
print(f"The factorial of {n} is: {result}")

The factorial of 8 is: 40320

In [ ]:
Jamal = {"name": "Jamal Hussain",
		"assignment": [80, 50, 40, 20],
		"test": [75, 75],
		"lab": [78.20, 77.20]
		}

Joel = {"name": "Joel Deepu",
		"assignment": [82, 56, 44, 30],
		"test": [80, 80],
		"lab": [67.90, 78.72]
		}

June = {"name": "June Sara",
		"assignment": [77, 82, 23, 39],
		"test": [78, 77],
		"lab": [80, 80]
		}

Sanjo = {"name": "Sanjo shaji",
		"assignment": [67, 55, 77, 21],
		"test": [40, 50],
		"lab": [69, 44.56]
		}

Freddy = {"name": "Freddy",
	"assignment": [29, 89, 60, 56],
	"test": [65, 56],
	"lab": [50, 40.6]
	}


def get_average(marks):
	total_sum = sum(marks)
	total_sum = float(total_sum)
	return total_sum / len(marks)

def calculate_total_average(students):
	assignment = get_average(students["assignment"])
	test = get_average(students["test"])
	lab = get_average(students["lab"])

	return (0.1 * assignment +
			0.7 * test + 0.2 * lab)

def assign_letter_grade(score):
	if score >= 90:
		return "A"
	elif score >= 80:
		return "B"
	elif score >= 70:
		return "C"
	elif score >= 60:
		return "D"
	else:
		return "E"


	for student in student_list:
		stud_avg = calculate_total_average(student)
		result_list.append(stud_avg)
		return get_average(result_list)

students = [Jamal, Joel, June, Sanjo, Freddy]

for i in students:
	print(i["name"])

	print("\n Average marks of %s is : %s " % (i["name"],
							calculate_total_average(i)))

	print("Letter Grade of %s is : %s" % (i["name"],
			assign_letter_grade(calculate_total_average(i))))

	print()

Jamal Hussain

 Average marks of Jamal Hussain is : 72.79
Letter Grade of Jamal Hussain is : C

Joel Deepu

 Average marks of Joel Deepu is : 75.962
Letter Grade of Joel Deepu is : C

June Sara

 Average marks of June Sara is : 75.775
Letter Grade of June Sara is : C

Sanjo shaji

 Average marks of Sanjo shaji is : 48.356
Letter Grade of Sanjo shaji is : E

Freddy

 Average marks of Freddy is : 57.26
Letter Grade of Freddy is : E